.change-password__page{
    max-width: var(--window-max-width);
    height: var(--window-max-height);
    background: url("../../assets/images/loginBackground.png") no-repeat center/cover;
}

.change-password__wrapper{
    max-width: var(--window-max-width);
    width: 100%;
    height: var(--window-max-height);
    backdrop-filter: blur(5px);
    background: var(--backdrop-filter-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-password__form{
    background: var(--character-light-primary-inverse);
    border-radius: var(--br-base);
    padding: var(--padding-xxx-lg) var(--padding-xl);
    width: 539px;
    height: 419px;
}

.change-password__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-base);
    text-align: center;
    margin-bottom: var(--margin-x-xl);
}

.change-password__from{

}
